
ion-header{
  ion-toolbar{
    color: #fff;
    --background: #2F5874;
  }
}
ion-content {
  --background: #f4f4f4;
}

ion-searchbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  height: 102px;
}

ion-item {
  border-bottom: 1px solid #ccc;
}

ion-avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
ion-label {
  padding: 10px;
}
h2 {
  font-size: 27px;
  margin: 0;
  color: black;
  }
.selected-item {
  background-color: #007bff;
  color: #fff;
}
ion-button{
  --background: #2F5874;
   color: white;
  }
img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.Trainer_card{
   padding: 20px;
   display: flex;
}
  