<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-content class="ion-padding">
    <!-- <h1>Welcome,</h1> -->
    <h1>{{'welcome' | translate}}</h1> 
  <h3>{{'signIn_to_continue' | translate}}</h3>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <ion-input type="email" placeholder="{{'Enter_your_email' | translate}}" formControlName="email"></ion-input>
      <ion-input type="Password" placeholder="{{'Enter_your_password' | translate}}" formControlName="password"></ion-input>
      <a (click)="redirectToforgotePage()" class="forgot-password-link">{{'forgot_password' | translate}}</a>
      <ion-button label='Login'  type="submit">{{'login' | translate}}</ion-button>
    </form>
    <p class="footer-text" (click)="openWhatsApp()"><a> <ion-icon name="logo-whatsapp"></ion-icon>{{'join_us' | translate}}</a> </p>
  </ion-content>
</ion-content>