.profile-picture {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .personal-info ion-label {
    margin: 10px 0;
  }
  
  .logout-button {
    margin-top: 20px;
  }
  