<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="profile-picture">
    <img src="assets/profile-picture.jpg" alt="Profile Picture" />
  </div>
  <div class="personal-info">
    <ion-label>Name: John Doe</ion-label>
    <ion-label>Email: johndoe@example.com</ion-label>
    <ion-label>Contact No: +123456789</ion-label>
    <ion-label>Address: 123 Main St, City</ion-label>
  </div>
   <ion-label>Language: English</ion-label>
  <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>
