<ion-tabs class="curved-tabs" >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trainerhome">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'home' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trainerclients">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'Client' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trainerprogress">
      <ion-icon name="analytics"></ion-icon>
       <ion-label>{{'progress' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trainertasks">
       <ion-icon name="chatbox"></ion-icon>
       <ion-label>{{'chat' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trainermoreinformation">
       <ion-icon name="ellipsis-horizontal"></ion-icon>
       <ion-label>{{'more' | translate}}</ion-label>
     </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

