<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clients</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
       <div class="Client_list">
           <h2>{{'Client' | translate}}</h2>
          <ion-button shape="round" (click)="navigateToAddClients()">{{'add_clients' | translate}}</ion-button>
         </div>
        <ion-list *ngIf="userdatas.length > 0">
          <ion-item *ngFor="let user of userdatas" (click)="navigateToUserDetail(user.uid)">
            <ion-avatar slot="start">
              <img [src]="user.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
            </ion-avatar>
            <ion-label>
              <h2>{{ user.name }}</h2>
              <h4>{{user.email}}</h4>
            </ion-label>
          </ion-item>
        </ion-list>
  </ion-content>
