<ion-tabs class="curved-tabs" >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="client-homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'home' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="client-exercise">
      <img src="../../../assets/image/tabs_icon.png" alt="Exercise Image" />
      <ion-label>{{'Program' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="classified-trainers">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'Trainers' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="alltrainers">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>{{'chat' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="client-moreinformation">
    <ion-icon name="person"></ion-icon>
       <ion-label>{{'account' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

