<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons mode="md" slot="start">
   <ion-back-button defaultHref="/login">back</ion-back-button>
 
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

   <h1>{{'wellcome' | translate}}</h1>
   <h3>{{'reset_password' | translate}}</h3>
 
   <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
     <ion-input type="email"   placeholder="{{'Enter_your_email' | translate}}" formControlName="email"></ion-input>
     <ion-button label='Login' type="submit" [disabled]="!loginForm.valid">{{'reset_password' | translate}}</ion-button>
   </form>
 


</ion-content>

