<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item (click)="profile()">
      <ion-label>{{'profile' | translate}}</ion-label>
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-item>
    <ion-item (click)="Language()">
      <ion-label>{{'language' | translate}}</ion-label>
      <ion-icon slot="start" name="globe"></ion-icon>
    </ion-item>
    <!-- <ion-item (click)="Privacy()">
      <ion-label>Privacy policy</ion-label>
      <ion-icon slot="start" name="document"></ion-icon>
    </ion-item> -->
    <ion-item (click)="logOut()">
      <ion-label>{{'logout' | translate}}</ion-label>
      <ion-icon slot="start" name="log-out"></ion-icon>
    </ion-item>
   
  </ion-list>
</ion-content>
