
ion-header{
  display: none;
}

ion-content {
  background-color: #f4f4f4; /* Background color for the content */
}

ion-item {
  border-bottom: 1px solid #ccc; /* Add a bottom border to separate items */
}

ion-icon {
  font-size: 24px; /* Adjust the icon size */
  color: #949799; /* Icon color */
}

ion-label {
  font-size: 18px; /* Adjust the label font size */
}
